<div class="container mt-5">
  <div class="progress mb-5 mt-5">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100"
    aria-valuemin="0" aria-valuemax="100" style="width:100%; background-color:#b99cfc; color: black; font-size: 15px">
      <span>100%</span>
    </div>
  </div>
  <h1 style="font-family:raleway; font-size:40px;">Get the music matchmaking started!</h1>

  <% all_genres = [
  "acoustic",
  "afrobeat",
  "alt-rock",
  "alternative",
  "ambient",
  "anime",
  "black-metal",
  "bluegrass",
  "blues",
  "bossanova",
  "brazil",
  "breakbeat",
  "british",
  "cantopop",
  "chicago-house",
  "children",
  "chill",
  "classical",
  "club",
  "comedy",
  "country",
  "dance",
  "dancehall",
  "death-metal",
  "deep-house",
  "detroit-techno",
  "disco",
  "disney",
  "drum-and-bass",
  "dub",
  "dubstep",
  "edm",
  "electro",
  "electronic",
  "emo",
  "folk",
  "forro",
  "french",
  "funk",
  "garage",
  "german",
  "gospel",
  "goth",
  "grindcore",
  "groove",
  "grunge",
  "guitar",
  "happy",
  "hard-rock",
  "hardcore",
  "hardstyle",
  "heavy-metal",
  "hip-hop",
  "holidays",
  "honky-tonk",
  "house",
  "idm",
  "indian",
  "indie",
  "indie-pop",
  "industrial",
  "iranian",
  "j-dance",
  "j-idol",
  "j-pop",
  "j-rock",
  "jazz",
  "k-pop",
  "kids",
  "latin",
  "latino",
  "malay",
  "mandopop",
  "metal",
  "metal-misc",
  "metalcore",
  "minimal-techno",
  "movies",
  "mpb",
  "new-age",
  "new-release",
  "opera",
  "pagode",
  "party",
  "philippines-opm",
  "piano",
  "pop",
  "pop-film",
  "post-dubstep",
  "power-pop",
  "progressive-house",
  "psych-rock",
  "punk",
  "punk-rock",
  "r-n-b",
  "rainy-day",
  "reggae",
  "reggaeton",
  "road-trip",
  "rock",
  "rock-n-roll",
  "rockabilly",
  "romance",
  "sad",
  "salsa",
  "samba",
  "sertanejo",
  "show-tunes",
  "singer-songwriter",
  "ska",
  "sleep",
  "songwriter",
  "soul",
  "soundtracks",
  "spanish",
  "study",
  "summer",
  "swedish",
  "synth-pop",
  "tango",
  "techno",
  "trance",
  "trip-hop",
  "turkish",
  "work-out",
  "world-music"
]
%>
<script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
<section class="mt-5" data-controller="spotify-auth">
  <style>
  .lord-icon {
    width: 70px;
    height: 70px;
  }
</style>
<div>
  <lord-icon style="position: absolute; top: 390px; left: 300px;"
      src="https://cdn.lordicon.com/mmspidej.json"
      class="lord-icon"
      trigger="loop"
      delay="2000"
      colors="primary:#121331,secondary:#08a88a"
      style="width:200px;height:200px;">
  </lord-icon>
</div>
