<div class="message-container" id="message-<%= message.id %>">
  <%# <small>
    <strong><%= message.user.name.split.first %></strong>
  <%# </small> %>
  <p><%= message.content %></p>
  <small class="time flex-item">
    <i><%= message.created_at.strftime("%H:%M") %></i>
  </small>
</div>
