.chatroom {
  background: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  .back-btn {
    font-size: 30px;
    padding-left: 10px;
  }

  .chatroom-profile {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
  }

  .back-icon {
    color: #000000;
    padding-top: 48px;
    padding-left: 20px;
    font-size: 18px;
  }

  .chatbar {
    width: 100%;
    height: 80px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
  }

  .chat-user {
    width: 75%;
  }

  .name {
    font-size: 24px;
    color: #000000;
    position: absolute;
    left: 41%;
    font-family: "Montserrat";
    font-weight: bolder;
  }
}

.profile {
  background: white;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  .back-btn {
    font-size: 30px;
    padding-left: 10px;
  }

  .chatroom-profile {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
  }

  .back-icon {
    color: #000000;
    padding-top: 48px;
    padding-left: 20px;
    font-size: 18px;
  }

  .chatbar {
    width: 100%;
    height: 80px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
  }

  .chat-user {
    width: 75%;
  }

  .name {
    font-size: 24px;
    color: #000000;
    position: absolute;
    left: 41%;
    font-family: "Montserrat";
    font-weight: bolder;
  }
}

  .matched-p {
    padding-left: 15px;
    text-decoration: none;

  img {
    border-radius: 50%;
    //  padding-top: 7.5px;
    //  padding-bottom: 7.5px;
  }
  }

  h1 {
    // border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    // font-family: "lobster", cursive;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }

  .margin-send {
    margin-bottom: 0 !important;
  }

  .simple_form {
    background: rgb(255, 255, 255);
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;
    background: black;

    .form-control {
      border-radius: 30px;
    }

    .form-group {
      margin-bottom: 0;
    }
  }

.btn-icon-message {
  border: none;
  background-color: black;
  i {
    color: #ffffff;
  };
}

.chatrooms-container {
  height: calc(100vh - 70px);
  background-color: #e98fbc40;

  .chatroom-card {
    position: absolute;
    margin-top: 110px;
    width: 100%;
    height: auto;
    border-radius: 17px;
  }

  .last-message {
    padding-left: 30px;
    font-family: "raleway";
    position: absolute;
    left: 28%;
    margin: -32px;
  }

  .recipient-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 10px;
  }

  .my-matches {
    font-family: "Montserrat";
    position: absolute;
    top: 4%;
    text-align: center;
    left: 30%;
    font-weight: 900;
    color: black;
  }

  #borderBottom {
    // border-bottom: 2px solid #73737357;
    margin: 15px;
    width: 90%;
  }

  // #last-chatroom {
  //   // border-bottom: none;
  // }
}

.recipient-info {
  margin: 10px;
  border: 2px solid black;
  background-color: white;
  padding: 5px;
  border-radius: 15px;
  color: black;
  text-decoration: none;

  a {
    font-size: 22px;
    text-decoration: none !important;
    color: #000;
    font-weight: bolder;
    position: absolute;
    padding-top: 20px;
  }

  .recipient-name {
    text-decoration: none;
    position: absolute;
    left: 166px;
    margin: -60px;
  }
}

.bottom-border {
  // border-bottom: 1px solid rgba(128, 128, 128, 0.4);
  padding-top: 10px;
}

.chat-profile {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  padding-top: 10px;

  a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.3);
  }

  .a-colour {
    text-decoration: underline;
    color: #45518D;
  }
}
