.profile-card {
  background-color: rgba(255, 255, 255, 0.7);
  bottom: 127%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 17px;
  position: relative;
  overflow-y: auto;
}

.profile-prompts{
  display: flex;
  gap: 30px;
  flex-direction: column;
  position: absolute;
  top: 34%;
  padding: 15px;
}

.profile-photo {
  position: absolute;
  width: 70%;
  top: 4%;
  left: 15%;
}

.profile-play-bar {
  width: 80%;
  position: absolute;
  top: 28%;
  left: 10%;
}
