.profile-card {
  background-color: rgba(255, 255, 255, 0.7);
  bottom: 127%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 17px;
  position: relative;
  overflow-y: auto;
}

.profile-prompts{
  display: flex;
  gap: 30px;
  flex-direction: column;
  position: absolute;
  top: 25%;
}
