.background__wrapper_profile {
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 300vh;
  z-index: 0;
}

.other-users-profile {
  background: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.background-profile {
  position: relative;
  top: -35px;
  left: -30px;
  width: 120%;
  height: 136%;
  background-image: url(https://i.imgur.com/KeTQDre.png);
  background-size: cover;
  background-position: center;
  filter: url(#turbulence);
}

.profilename {
  position: absolute;
  font-family: 'Montserrat';
  z-index: 999;
  color: black;
  font-size: 20px;
  font-weight: 900;
  top: 21%;
  left: 5%;
}

.profile-card-section {
  background-color: white;
  width: 85%;
  margin: 8px;
  min-height: 110px;
  border-radius: 15px;
  display: flex;
  left: 38px;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  padding: 10px;
  border: #000000;
  font-family: "B612";
  border-style: solid;
  border-width: 0.1em;
  transform: translatex(15px);
  margin-bottom: 30px;
  margin-top: 25px;
}

// .profile-image-wrapper img {
//   height: 100%;
//   width: 100%;
//   object-position: top;
//   object-fit: cover;
// }

.profile-card {
  background-color: white;
  bottom: 103%;
  width: 100%;
  bottom: 136%;
  height: 100%;
  position: relative;
  overflow-y: scroll;
  padding-bottom: 10rem;
}

.user-profile-play-bar {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 10%;
}

.user-profile-prompts {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60%;
  padding: 14px;
}

.users-profile-photo {
  position: absolute;
  width: 94%;
  top: 0;
  left: 4%;
}

.users-profile-card {
  background-color: white;
  width: 100%;
  bottom: 0;
  height: 100%;
  // border-radius: 17px;
  position: relative;
  overflow-y: auto;
}

.spotify-data {
  display: flex;
  gap: 15px;
  flex-direction: column;
  margin-left: 1rem;
}

.profile-top-genres-list {
  /* background-color: white; */
  /* width: 85%; */
  /* margin: 8px; */
  /* min-height: 110px; */
  /* border-radius: 15px; */
  /* padding: 10px; */
  font-family: "B612";
  /* transform: translatex(15px); */
  margin-bottom: 30px;
}



.account-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
}

.spotify-connect-auth {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.edit {
  position: absolute;
  top: 6.1%;
  right: 20px;
}

.my-spotify {
  /* background: #4cff61; */
  color: black;
  font-size: 15px;
  font-family: montserrat;
  border-radius: 40px;
  text-align: center;
  /* width: 60%; */
  /* padding: 30px; */
  /* border: solid; */
}

.profile-prompts{
  display: flex;
  flex-direction: column;
}

.profile-photo {
  display: flex;
  align-items: center;
  margin-top: 10rem;
  justify-content: center;
}

.profile-play-bar {
  width: 80%;
  position: absolute;
  top: 28%;
  left: 10%;
}
