.card {
  background-color: rgba(255, 255, 255, 0.7);
  bottom: 125%;
  left: 10%;
  width: 80%;
  height: 65%;
  border-radius: 17px;
  position: relative;
  max-height: 100vh;
  overflow-y: auto;
}

// .h6 {
//   text-align: left;
// }

.user-image-wrapper {
  height: 450px;
  width: 100%;
  margin-bottom: 10px;
}

.photo{
  position: absolute;
  width: 70%;
  top: 23%;
  left: 15%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: absolute;
  top: 87%;
}

.play-bar{
  width: 90%;
  position: absolute;
  top: 80%;
  left: 5%;
}

.swipe-tools {
  width: 12%;
}

.user-image-wrapper img {
  height: 75%;
  width: 100%;
  object-position: top;
  object-fit: cover;
}

.card-section {
  background-color: #ffffff;
  padding: 15px;
  margin: 15px 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
}

.prompt + .card-section {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 5px solid #6757ff;
  font-size: 25px;
  font-family: 'raleway', sans-serif;
}

  // .card-section {
  //   border: 1px solid #e0e0e0; /* Add a light border around the card sections */
  // }

  //   .prompt + .card-section {
  //   margin-top: 20px;
  //   padding-top: 20px;
  //   border-top: 1px solid #e0e0e0;
  //   font-size: 25px;
  //   font-family: 'raleway', sans-serif;
  // }

#img-artist img {
  z-index: 10;
  position: absolute;
  object-fit: cover;
  object-position: top;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  top: 10px;
  left: 10px;
}

.padding {
  // background-color: #6bcce4;
  padding: 20px;
  padding-bottom: 90px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  // margin-bottom: 60px;
}

.profile-content {
  position: relative;
}

.prompt {
  font-family: "lobster", cursive;
  font-size: 22px;
  margin-left: 20px;
}

.profile-name {
  position: absolute;
  font-family: 'Montserrat';
  z-index: 999;
  color: black;
  font-size: 20px;
  font-weight: 900;
  margin-top: 20px;
}

.scroll-down {
  position: absolute;
  top: 86%;
  width: 10%;
  left: 45%;}

.swipe-btns {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 20px auto;
  color: black;
  z-index: 999;

  i {
    font-size: 50px;
    color: black;
  }
}

.swipe-left,
.swipe-right {
  button {
    border: none;
    background-color: initial;
  }
}

.alert {
  background-color: #aeaeffe4;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  img {
    height: 451px;
    width: 100%;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 10px solid rgb(92, 92, 92);
  }

  h1 {
    color: white;
    font-size: 45px;
    font-weight: bold;
  }

  h2 {
    color: white;
    font-size: 30px;
  }

  a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(19, 2, 34);
  }

  .profile-name-match {
    color: black;
    font-size: 26px;
  }
}

.users-index {
  height: calc(100vh - 70px);
  margin-bottom: 80px;
}

.match-end-card {
  color: black;
  background: #a6ffce;
  box-shadow: 6px 6px 0 #4c4c4c;
  width: 80%;
  margin: 0 auto;
  position: relative;
  top: 25%;

  p {
    margin: 20px;
    font-family: "lobster", cursive;
    font-size: 30px;
    text-align: center;
  }
}
